@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    ---paleBlue: hsl(243, 100%, 93%);
    ---grayishBlue: hsl(229, 7%, 55%);
    ---darkBlue: hsl(228, 56%, 26%);
    ---veryDarkBlue: hsl(229, 57%, 11%);
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

body {
    background-image: url('./images/bg-desktop.png');
    height: 100vh;
    width: 100vw;
    background-color: var(---veryDarkBlue);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-y: calc(120%);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    height: 90vh;
    padding: 0rem 12rem;
}

.storage-card {
    background-color: var(---darkBlue);
    height: 100%;
    max-height: 12rem;
    width: 100%;
    max-width: 22rem;
    border-radius: 10px;
    border-top-right-radius: 90px; 
    display: grid;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding-left: 2.5rem;
    align-self: center;
}

.storage-card .icons {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: calc(-20%);
}

.storage-card .icons button {
    width: 3em;
    height: 3em;
    background-color: var(---veryDarkBlue);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.info-card {
    background-color: var(---darkBlue);
    box-sizing: border-box;
    padding: 2.5rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    width: 100%;
    /* max-width: 600px; */
    max-width: calc((540 / 16)* 1rem);
    margin-top: 2.5rem;
}

.info-card p {
    margin-bottom: 1rem;
    font-size: 14px;
    color: #fff;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width:550px;
    height: calc((20/16) * 1rem);
    border-radius: 3rem;
    background-color: var(---veryDarkBlue);
    padding-inline: 0.2rem;
}

.progress {
    width: 75%;
    height: calc((14/16) * 1rem);
    border-radius: 3rem;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
    justify-content: end;
}

.circle {
    border-radius: 50%;
    background-color: #fff;
    width:calc((14/16) * 1rem);
    height: calc((14/16) * 1rem);
}


.label {
    display: flex;
    justify-content: space-between;
    padding-top: 01em;
}



.remainder {
    position: absolute;
    right: 50px;
    top: -50px;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: var(---grayishBlue);;
    font-weight: bold;
}

.remainder span {
    font-size: 2rem;
    color: var(---veryDarkBlue);
}

.remainder::after {
    content: '';
    position: absolute;
    bottom: -20px; 
    right: 0px; 
    width: 0;
    height: 0;
    border-right: 20px solid white;
    border-top: 30px solid transparent; 
    border-bottom: 30px solid transparent;
  }

@media screen and (max-width: 768px){
    body {
        background-image: url('./images/bg-mobile.png');
        background-position: center;
        background-size: cover;
    }

    main {
        padding: 0;
    }
}


@media screen and (max-width: 375px) {
    body {
        background-image: url('./images/bg-mobile.png');
        background-position: center;
        background-size: cover;
    }

    main {
        width: 85vw;
        margin: auto;
        padding: 0px
    }

    .storage-card {
        margin-top: 2em;
    }

    .remainder {
        top: 130px;
        right:4.1em
    }

    .remainder::after {
        display: none;
    }
}